/* google font import */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html {
  font-size: 1.33em;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: right;
  max-height: 100vh;
  /* padding: 1em;  */
  /* overflow: hidden; */ 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
