
.nav-icon {
    position: fixed;
    top: 0em;
    right: 0em;
    /* width: auto; */
    /* padding: 1em; */
    /* z-index: 1500; */
    /* transition-delay: 0.33s; */
    transition-duration: 0.55s;
    color: #EF476F;
    background: white;
    border: none;
    border-radius: 0;
    width: 3em;
    height: 100vh;
    font-size: 1.2em;
    padding: 0 0em;
    /* border-left: 1px solid black; */
    text-align: center;
}

/* .nav-icon:hover {
    background: none;
    color: white;
    
} */

.nav-icon-item {
    position: absolute;
    top: 1em;
    right: 1em;
    border: 1px solid #EF476F;
    
    width: 4em;
    padding: 0.33em;
    transition-duration: 0.22s;
    border: 1px solid #EF476F;
}

.nav-icon-item:hover {
    background: #EF476F;
    color: white;
    opacity: 0.66;
    cursor: pointer;
}

.nav-modal {
    opacity: 0;
    background: #FDFFFC;
    z-index: 500;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 100%;
    top: 0;
    transition-duration: 0.22s;
    transition-delay: 0.09s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.nav-modal-active {
    opacity: 1.88;
    transform: translateX(-100%);
}

.nav-menu {
    /* opacity: 1; */
    color: #FDFFFC;
    color: #040F16;
    text-align: center;
    /* background: #040F16; */
    background: #FDFFFC;
    height: 100vh;
    width: 320px;
    position: fixed;
    right: -320px;
    top: 0;
    z-index: 1000;
    padding: 200px 3em;
    text-align: right;
    transition-duration: 0.44s;
    /* transition-delay: .11s; */
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.nav-menu-active {
    transform: translateX(-320px);
    /* opacity: 0.9; */
}

.link {
    opacity: 0;
    transition-delay: 0.22s;
    transition-duration: 0.44s;
    right: 2em;
    position: absolute;
}

.link-active {
    opacity: 1;
    transform: translateX(-1em);
}

.link-menu {
    text-decoration: none;
    color: #040F16;
    font-size: 2em;
    opacity: 0.55;
    transition: 0.11s;
    /* border-right: 2px solid #040F16; */
    /* padding: 0.33em; */
    margin: .33em;
    line-height: 1.11em;
}

.link-menu:hover {
    text-decoration: none;
    color: #EF476F;
    opacity: 1;
    /* border-right: 2px solid #41EAD4; */
}

ul {
    list-style-type: none;
}