
.nav-icon {
    position: fixed;
    top: 0em;
    right: 0em;
    width: auto;
    padding: 2em 3em;
    z-index: 1500;
    /* transition-delay: 0.33s; */
    transition-duration: 0.33s;
    color: black;
}

.nav-icon-active {
    color: white;
    opacity: 0.33;
}

.nav-icon-active:hover {
    opacity: 1;
    transition-duration: .11s;
    transition-delay: 0;
}

.nav-modal {
    opacity: 0;
    background: black;
    z-index: 500;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 100%;
    top: 0;
}

.nav-modal-active {
    opacity: 0.66;
    transform: translateX(-100%);
}

.nav-menu {
    opacity: 1;
    color: white;
    text-align: center;
    background: black;
    height: 100vh;
    width: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 1000;
    padding: 200px 3em;
    text-align: right;
    transition-duration: 0.33s;
    transition-delay: .11s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.nav-menu-active {
    transform: translateX(-100%);
    opacity: 1;
}

.link {
    opacity: 0;
    transition-delay: 0.55s;
    transition-duration: 0.33s;
    right: 2em;
    position: absolute;
}

.link-active {
    opacity: 1;
    transform: translateX(-1em);
    /* transition-delay: .99s; */
    /* transition-duration: 0.0s;  */
}

.link-menu {
    text-decoration: none;
    color: white;
    font-size: 4em;
    line-height: 1em;
    opacity: 0.33;
    transition: 0.22s;
}

.link-menu:hover {
    text-decoration: none;
    color: white;
    opacity: 1;
}