/* 
.nav-icon {
    position: fixed;
    top: 0em;
    right: 0em;
    transition-duration: 0.55s;
    color: #FF0022;
    background: grey;
    border: none;
    border-radius: 0;
    width: 3em;
    height: 100vh;
    font-size: 1.2em;
    padding: 0 0em;
    text-align: center;
    z-index: 2000;
} */

/* .nav-icon:hover {
    background: none;
    color: white;
    
} */

.nav-icon-item {
    position: fixed;
    z-index: 500;
    top: 2em;
    right: 3em;
    border: 1px solid #FF0022;
    width: 4em;
    padding: 0.33em 0.33em 0.11em 0.33em;
    transition-duration: 0.22s;
    font-size: 0.88em;
}

.nav-icon-item:hover {
    background: #FF0022;
    color:  #FDFFFC;
    opacity: 0.88;
    cursor: pointer;
}

.nav-modal {        
    opacity: 0.5;
    background: #FDFFFC;
    z-index: 500;
    height: 100vh;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transition-duration: 0.22s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0, 0, 0, 0);
    will-change: transform, opacity;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.nav-modal-active {
    opacity: 0.8;
    transform: translateX(0%);
}

.nav-menu {
    text-align: center;
    background: #011627;
    height: 100vh;
    width: 280px;
    position: fixed;
    /* right: -280px; */
    transform: translateX(280px);
    -webkit-transform: translateX(280px);
    will-change: transform;
    right: 0;
    top: 0;
    z-index: 1000;
    padding: 100px 3em;
    text-align: right;
    /* transition-delay: 0.11s; */
    transition-duration: 0.55s;
    transition-timing-function: cubic-bezier(0.33, 0, 0, 1);
}

.nav-menu-active {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}

.link {
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.55s;
    right: 2em;
    position: absolute;
    will-change: opacity;
}

.link-active {
    opacity: 1;
    /* transform: translateX(-1em); */
}

.link-menu {
    text-decoration: none;
    color: white;
    font-size: 2em;
    opacity: 0.55;
    margin: .33em;
    padding: 0;
    /* transition: 0; */
    display: block;
    /* line-height: 1em; */
}

.link-menu:hover {
    text-decoration: none;
    color: #FDFFFC;
    opacity: 1;
}

ul {
    list-style-type: none;
}